#!/usr/bin/env python
# -*- coding: utf-8 -*-

# -----------------------------------------------------
#  FileName    :    urlprefix.py
#  Author      :    yangjun@
#  Project     :    hato/utils
#  Date        :    2015-06-11
#  Description :    
# -----------------------------------------------------

URL_PREFIX="${MODULE_NAME}"
URL_PREFIX_1_0="${MODULE_NAME}/1.0"
URL_PREFIX_2_0="${MODULE_NAME}/2.0"
